<% layout('layouts/adminBoiler') %>
<div class="container mt-5 text-center" >
    <a class="btn btn-primary" href="/admin/registerStu" role="button" title="Register Student">Register Student</a>
    <a class="btn btn-primary" href="/admin/registerComp" role="button" title="Register Company">Register Company</a>
    <a class="btn btn-primary" href="/admin/registerStaff" role="button" title="Register Staff">Register Staff</a>
</div>
