<% layout('layouts/adminBoiler') %>
    <div class="container mt-5">
        <div class="row">
            <h1 class="text-center">Register Student</h1>
            <div class="col-6 offset-3">
                <form class="row g-3 validatedForm" action="/admin/registerStu" method="POST" novalidate>
                    <div class="col-md-6">
                      <label for="username" class="form-label">Username</label>
                      <input type="text" class="form-control" id="username" name="student[username]" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="student[password]" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="fullname" class="form-label">Fullname</label>
                      <input type="text" class="form-control" id="fullname" name="student[name]" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="prn" class="form-label">PRN</label>
                      <input type="string" class="form-control" id="prn" name="student[prn]" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="branch" class="form-label">Branch</label>
                      <select class="form-select" id="branch" name="student[branch]" required>
                        <% for(let branch of branches){ %> 
                          <option value="<%= branch %>"><%= branch %></option>
                          <% } %>
                      </select>
                      <div class="valid-feedback">
                        Looks good!
                      </div> 
                    </div>                
                    <div class="col-md-6">
                      <label for="phone" class="form-label">Phone Number</label>
                      <input type="string" class="form-control" id="phone" name="student[phone]" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="personal" class="form-label">Personal Email ID</label>
                      <input type="email" class="form-control" id="personal" name="student[personal_email]" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="college" class="form-label">College Email ID</label>
                      <input type="email" class="form-control" id="college" name="student[college_email]" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <!-- <div class="col-md-4">
                      <label for="tenth" class="form-label">10th Percentage</label>
                      <input type="number" step=".01" class="form-control" id="tenth" name="student[tenth]" value="%= s.tenth %>" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div> 
                    <div class="col-md-4">
                      <label for="twelfth" class="form-label">12th Percentage</label>
                      <input type="number" step=".01" class="form-control" id="twelfth" name="student[twelfth]" value="%= s.twelfth %>" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>                 -->
                    <div class="col-md-6">
                      <label for="cgpa" class="form-label">CGPA (%)</label>
                      <input type="number" step=".01" class="form-control" id="cgpa" name="student[cgpa]" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="status">Placement status: </label>
                        <select class="form-select" id="status" name="student[isPlaced]" aria-label="Default select example" required>
                          <% for (let s of status) {%> 
                            <option value="<%= s %>"><%= s %></option>
                          <% } %>   
                        </select>
                        <div class="valid-feedback">
                          Looks good!
                        </div>  
                    </div>
                    <!-- <div>
                        <label for="resume" class="form-label">Resume</label>
                        <input class="form-control" type="file" id="resume">
                    </div> -->
                    <!-- <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div> -->
                    <div class="col-12 mb-3">
                      <button type="submit" class="btn btn-success">Register</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
