<% layout('layouts/adminBoiler') %>
<div class="container mt-5 text-center" >
    <h1 class="text-center">LOGIN</h1>
    <a class="btn btn-primary" href="/stulogin" role="button" title="student login">Student</a>
    <a class="btn btn-primary" href="/complogin" role="button" title="Company login">Company</a>
    <a class="btn btn-primary" href="/stafflogin" role="button" title="staff login">Staff</a>
</div>
